<%= form_for @event, html: { multipart: true } do |f| %>

  <div class="form-group">
    <label>Name</label>
    <%= f.text_area :name, placeholder: "Type the name of your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Say something about your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Location</label>
    <%= f.text_field :location, placeholder: "The location of your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Price</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :price, placeholder: "eg. 100", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label>Capacity</label>
    <%= f.number_field :capacity, placeholder: "eg. 25", class: "form-control" %>
  </div>

  <label>Amenities</label>

  <div class="form-group">
    <%= f.check_box :includes_food %> Food
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> Drinks
  </div>

  <div class="form-group">
    <label>Start Date and Time</label>
    <%= f.datetime_field :starts_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>End Date and Time</label>
    <%= f.datetime_field :ends_at, class: "form-control" %>
  </div>

  <label>Themes</label>
  <%= f.collection_check_boxes(:theme_ids, Theme.all, :id, :name) do |b| %>
  <div class="form-group">
    <%= b.check_box(class: "check_box") %>
    <%= b.object.name %>
  </div>
  <% end %>

  <div class="form-group">
    <span class="btn btn-default">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </span>
  </div>

  <div id="photos">
    <%= render 'photos/list' %>
  </div>

  <label>Post this event?</label>

  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
